.add_new_post_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        margin-top: 20px;
    }
}